.oe_iva {
    margin-right: 5px;
}

.disabled,
.disable {
    pointer-events: none !important;
    cursor: default !important;
}

.mmc-inner {
    width: 100% !important;
}

ul.item {
    width: 50% !important;
    padding-left: 0px;
}

.FirstMenuCategory {
    display: inline-block !important;
    width: auto !important;
    max-width: inherit !important;
}

.SecondMenuCategory {
    display: inline-block !important;
}

.megamenunav {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
li.mm-label {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.mmc-inner-second {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
}