<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <record id="addval_res_config_settings_website_sale" model="ir.ui.view">
        <field name="name">addval.res.config.settings.website.sale</field>
        <field name="model">res.config.settings</field>
        <field name="inherit_id" ref="sale.res_config_settings_view_form" />
        <field name="arch" type="xml">
            <xpath expr="//div[@name='quotation_order_setting_container']" position="inside">
                <h3>Configuraciones Sitio Web</h3>
                <div class="col-12 col-lg-6 o_setting_box">
                    <div class="o_setting_right_pane">
                        <div>
                            <label
                                string="Cuenta analítica Sitio Web"
                                for="website_analytic_id"/>
                            <div class="text-muted">
                                Cuenta analítica Sitio Web
                            </div>
                            <div class="content-group mt16">
                                <field
                                    name="website_analytic_id"
                                    colspan="4"
                                    nolabel="1"
                                    options="{'no_create': True, 'no_create_edit':True}"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </xpath>
        </field>
    </record>
</odoo>
